:root {  
    --green: rgb(42, 252, 152);
    --blue: rgb(41, 121, 255);
    --red: rgb(225, 16, 16);
    
  }
  
  @keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    
    to {
      background-position: 0% center;
    }
  }
  
  
  .line {
    display: flex;
    justify-content: space-between;
  }
  
  .word {
    color: white;
    font-size: clamp(2rem, 5vw, 5rem);
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    text-transform: uppercase;
    transition: opacity 250ms ease;
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
  }
  
  #text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  
  .fancy span {
    display: inline-block;
  }
  
  .fancy > .outer {
    transition: transform 350ms ease;
  }
  
  .fancy:hover > .outer {
    transition-duration: 800ms;
  }
  
  .fancy:hover > .outer > .inner {
    animation: float 3s ease infinite;
  }
  
  .fancy:hover > .outer > .inner > .letter {
    background: linear-gradient(
      to right,
      var(--blue),
      var(--red),
      var(--blue)
    );
    background-size: 1000%;
    background-clip:text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 30s linear infinite;
  }
  
  .fancy:hover > .outer:nth-child(1) {
    transform: translate(-90%, -10%) rotate(8deg);
  }
  
  .fancy:hover > .outer:nth-child(2) {
    transform: translate(-50%, 40%) rotate(-4deg);
  }
  
  .fancy:hover > .outer:nth-child(3) {
    transform: translate(-20%,-20%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 20%) rotate(10deg);
  }
  
  .fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -40%) rotate(-5deg);
  }
  .fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 50%) rotate(10deg);
  }
  
  /* .fancy:hover > .outer:nth-child(7) {
    transform: translate(-10%, 60%) rotate(-6deg);
  } */
  /* .fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
  }*/
  
  .fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
  } 
  
  
  
  .fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(9) {
    transform: translate(60%, 30%) rotate(4deg);
  }
  .fancy:hover > .outer:nth-child(10) {
    transform: translate(120%, -20%) rotate(-10deg);
  }
  
  /* -- YouTube Link Styles -- */
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  